
bin/kubefs

.auth
# Added by goreleaser init:
dist/

addons/oauth/private_key.pem
addons/oauth/public_key.pem

addons/oauth/deploy/files/*

addons/gateway/private_key.pem
addons/gateway/public_key.pem
addons/gateway/.env